.subMenu {
  position: absolute;
  z-index: 3;
  
  margin-top: 5rem;
  padding-left: 2rem;
  background: black;
  
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  background-color: black;
  user-select: none;
  font-size: 10vw;
  text-align: left;
}
